.icono{
    position: fixed;
    right: 75px;
    bottom: 75px;
    width: 50px;
    height: 50px;
    background-image: url(../images/scroll-top-img.png);
    scroll-behavior: smooth;
}
body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{  
    width: 1080px;
}
.main{
    width: 65%;
    position: absolute;
    left: 30%;
    color: white;
}

.img__pic{
    width: 70px;
    border-radius: 40px;
    border: 7px solid greenyellow;
}

.aside{
    background-color: #202124;
    position: absolute;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.aside__h1{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0px;
}
.aside__h2{
    font-size: 1rem;
    color: white;
}
.aside__menu{
    display: flex;
    flex-direction: column;
}
.menu__link{
    width: 200px;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    background-color: #505050;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.menu__link:hover{
    background-color: greenyellow;
    color: black;
}


.main__inicio{
    padding:130px 0 0 70px;
    text-align: justify;
}
.inicio__title{
    font-size: 2.5rem;
    margin-bottom: -10px;
}
.inicio__nom{
    display: flex;
    font-size: 2rem;
}
.nom__verd{
    color: greenyellow;
}
.inicio__foo{
    display: flex;
    align-items: center;
}
.inicio__link{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #505050;
    border-radius: 30px;
    padding: 7px;
    width: 120px;
}
.inicio__awe{
    color: greenyellow;
    font-size: 20px;
    padding-left: 10px;
}
.inicio__link:hover{
    color: #202124;
    background-color: greenyellow;
}
.inicio__link:hover .inicio__awe {
    color: #202124;
}